{% extends "base.html" %}
{% block content %}
<div>
  <h1>수정화면</h1>
  <form action="{% url "articles:update" article.pk %}" method="POST">
    {% csrf_token %}
    <p>
      <label for="title">제목 : </label>
      <input type="text" id="title" name="title" value="{{ article.title }}">
    <!--id랑 name을 언제 쓸까요? 역할이 뭔가요? 제발 알아두세요!-->
    </p>
    <p>
      <label for="content">
        내용:
      </label>
      <textarea name="content" id="content" cols="30" rows="10">{{ article.content }}</textarea>
    </p>
    <p>
      <input type="submit" value="수정하기">
    </p>
  </form>
  <hr>
  <a href="{% url "articles:index" %}">처음으로</a>
</div>
{% endblock content %}