<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        <h1>index 입니다</h1>
        <a href="{% url "articles:new" %}"> 새글쓰기</a>
        <!--게시글 목록 출력-->
        {% for article in articles  %}
        <p>
        <p>제목 : {{article.title}}</p>
        <p>내용 : {{article.content}}</p>
        <p>작성시간  : {{article.created_at}}</p>
        </p>
        <form action="{% url "articles:dlete" %}" method="POST">
            {% csrf_token %}
            

        </form>
        <hr>
        {% endfor %}

    
    </div>
    
</body>
</html>


