<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <style>
    .completed{
      text-decoration: line-through;
      color :gray;
    }
  </style>
</head>

<body>
  <div id="app">
    <h1>오늘의 할 일</h1>
    <select v-model="selectedValue">
      <option value="" disabled>선택하세요</option>
      <option value="all" >전체</option>
      <option value="completed" >완료</option>
      <option value="inprogress" >미완료</option>
    </select>

    <input type="text" v-model="inputText"> <button @click="addTodo">추가</button>
    <ul>
      <li v-for="todo in selectedTodos" :key="todo.id" :class="{completed:todo.isCompleted}"
      @click="changeStatus(todo)">
        {{todo.content}} <button @click="removeTodo(todo.id)">삭제하기</button>
      </li>
    </ul>
  </div>

  <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
  <script>
    const { createApp,ref,computed } = Vue
    const inputText = ref('')
    const app = createApp({
      setup(){
        let id = 0
        // 목록에 보여질 todos의 종류(all, completed, inprogress)
        const selectedValue = ref('all')
        const addTodo = function(){
          const newTodo = {
            id : id++ ,
            content : inputText.value,
            isCompleted : false
          }
          todos.value.push(newTodo)
          inputText.value=''
        }

        const todos = ref([
          // {
          //   id:id++,
          //   content : 'test1',
          //   isCompleted : false
          // },
          // {
          //   id:id++,
          //   content : 'test2',
          //   isCompleted : true
          // },
          // {
          //   id:id++,
          //   content : 'test3',
          //   isCompleted : true
          // }
        ])
        const removeTodo = function(todoId){
          // filter 이용하면 만들 수 있음
          // Array Helper method : filter 는 참이요소에 대해 배열만듬 
          // todos를 새로 그리기  
          todos.value = todos.value.filter((todo)=>{
            // 지우려는 요소가 아니면 true반환 
            // 지우려는 요소라면 false반환 
            return todo.id != todoId

          })


        }

        const changeStatus = function(todo){
          todo.isCompleted = !todo.isCompleted
        }

        //select 에서 선택된 상태인 요소들만 모아서 그림그리기
        // 내가 원래 가지고 있던 값 >> 새로운 값을 만들 때
        // computed
        // 선택된 상태에 따라서...출력할 배열을 다르게 선택
        const selectedTodos = computed(()=>{
          return todos.value.filter((todo)=>{
            if (selectedValue.value == 'all'){
              return true
            } else if  (selectedValue.value == 'completed'){
              return todo.isCompleted 
            }else {
              return !todo.isCompleted
            }
          })
        })
      




        return{
          todos,
          inputText,
          addTodo,
          removeTodo,
          changeStatus,
          selectedTodos,
          selectedValue
        }
      }
    })
 
    app.mount('#app')
  </script>
</body>
</html>