{% extends "base.html" %}
{% block content %}
<h1>DETAIL PAGE</h1>
<div>
<h3>{{movie.title}}</h3>
</div>
{{movie.content}}
<hr>
<!--update버튼 , delete버튼-->
<a href="{% url "movies:update2" movie.pk %}">
<button type="button" class="btn btn-secondary">UPDATE</button>
</a>

<a href="{% url "movies:delete" movie.pk %}">
<button type="button" class="btn btn-danger">DELETE</button>
</a>

<hr>
<!--back 버튼--> 
{% comment %} <a href="{% url "movies:index" %}" class = "btn btn-primary">BACK</a> {% endcomment %}
<a href="{% url "movies:index" %}">
    <button type="button" class="btn btn-primary">BACK</button>
</a>





{% endblock content %}






