<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% comment %} {{fruit_list}} <br>
    {{hate}} {% endcomment %}
    {% for fruit in fruit_list %}
        {% if fruit not in hate  and fruit|length > 2%}
            {% if  fruit|length > 3 %}
                <p>{{fruit|truncatechars:3}}</p>
            {% else %}
                <p>{{fruit}}</p>
            {% endif %}    
        {% endif %}
    {% endfor %}
</body>
</html>