<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
  <div id="app">
    <h1>다양한 전시 정보</h1>
    <label>전시 중인 정보만 보기</label>
    <input type="checkbox" v-model="isChecked">
    

    <ul>
      <li v-for="item in isActiveExhibition">
        <h3>{{ item.title }}</h3>
        <p>{{ item.place }}</p>
        <p>가격 : {{ item.price }}</p>
        <hr>
      </li>
    </ul>
  </div>

  <script>
    const { createApp,ref,computed } = Vue
    const app = createApp({
      setup(){
        const isChecked = ref(false)
        const infoArr = ref([
          {
            title:'무라카미 다카시 : 무라카시좀비',
            place:'부산 시립 미술관',
            price:1000,
            isActive:true
          },
          {
            title:'마우라치오 카텔란 개인전',
            place:'리움 미술관',
            price:30000,
            isActive:true
          },
          {
            title:'조선백자전',
            place:'리움 미술관',
            price:30000,
            isActive:true
          },
          {
            title:'한국 실험미술 1960 - 1970',
            place:'국립현대미술관',
            price:0,
            isActive:true
          },
          {
            title:'에드워드 호퍼 : 길 위에서',
            place:'서울 시립 미술관',
            price:1000,
            isActive:false
          },
          {
            title:'알렉산더 칼더 x 이우환',
            place:'국제갤러리 서울점',
            price:15000,
            isActive:false
          }
        ])

        const isActiveExhibition = computed(()=>{
          return infoArr.value.filter((exhibition)=>{
            if (isChecked.value) {
              return exhibition.isActive
            }else{
              return true 
            }
          })
        })
          
        return{
          infoArr,
          isChecked,
          isActiveExhibition
        }
      }
    })
    app.mount('#app')
  </script>
</body>
</html>
